#pragma once

#define JOIN_STRINGS(a,b) a b
#define ARRAY_LEN(array) (sizeof(array) / sizeof(*array))

#define USER_HOME "/home/gaben/"
#define TF2_PATH JOIN_STRINGS(USER_HOME, ".steam/steamapps/common/Team Fortress 2/")

const char* DEMO_PATH = JOIN_STRINGS(TF2_PATH, "tf/send_to_higps.dem");

// Define to load event definitions from resource files.
//#define LOAD_EVENT_RESOURCES

#ifdef LOAD_EVENT_RESOURCES
// Keep these in order!
const char* EVENT_RESOURCES[] = {
    JOIN_STRINGS(TF2_PATH, "hl2/resource/serverevents.res"),
    JOIN_STRINGS(TF2_PATH, "hl2/resource/gameevents.res"),
    JOIN_STRINGS(USER_HOME, "libsrcdemo/data/modevents.res"),
    JOIN_STRINGS(TF2_PATH, "hl2/resource/hltvevents.res"),
    JOIN_STRINGS(TF2_PATH, "hl2/resource/replayevents.res")
};
const size_t EVENT_RESOURCES_LEN = ARRAY_LEN(EVENT_RESOURCES);
#endif

