#pragma once

#define JOIN_STRINGS(a,b) a b

#define USER_HOME "/home/gaben/"
#define TF2_PATH JOIN_STRINGS(USER_HOME, ".steam/steamapps/common/Team Fortress 2/")

const char* DEMO_PATH = JOIN_STRINGS(TF2_PATH, "tf/classchange.dem");

// Keep these in order!
const char* EVENT_RESOURCES[] = {
    JOIN_STRINGS(TF2_PATH, "hl2/resource/serverevents.res"),
    JOIN_STRINGS(TF2_PATH, "hl2/resource/gameevents.res"),
    JOIN_STRINGS(USER_HOME, "libsrcdemo/data/modevents.res"),
    JOIN_STRINGS(TF2_PATH, "hl2/resource/replayevents.res")
};
const size_t EVENT_RESOURCES_LEN = 4;

